/* CUSTOM PROPS  */

:root{
    --body-bg : #f1f4ff;
    --green:#4dc490;
    --purple:#655af2;
    --red:#f83535;
    --text-color:#000;
}



/* GLOBAL */

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "inter", "Arial",sans-serif;
    font-size: 16px;
    line-height: 19px;
    background-color: var(--body-bg);
    color:var(--text-color);
}

.img{
    max-width: 100%;
    height: auto;
}

*:focus{
    outline: 2px dotted var(--purple);
    outline-offset: 3px;
}

/* CONTAINER  */
.container{
    width: 100%;
    max-width: 1192px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* FONTS  */

/* inter-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); 
  }
  /* inter-600 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-latin-600.woff2') format('woff2'); 
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2'); 
  }




/* MAIN CONTENT  */
.main-content{
    flex-grow: 1;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* SITE HERO */

.intro-page {
    display: flex;
}
.hero {
    --text-color:#fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 570px;
    border-radius: 20px;
    overflow: hidden;
    color: var(--text-color);
}
.hero-top {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 55px 60px;
    background-color: #000;
    background-image: url(../img/site-intro-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.hero-badge {
    padding: 5px 15px;
    margin-bottom: 60px;
    border: 1px solid var(--text-color);
    border-radius: 41px;
    line-height: normal;
    font-size: 14px;
    font-weight: 500;

}
.hero-heading {
    margin-top: 0;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 25px;
}
.hero-text {
    margin-top: 0;
   font-size: 16px;
   line-height: 26px;
}
.hero-bottom {
    padding: 28px;
    background-color: var(--green);
    font-size: 19px;
    text-align: center;
}

/* SIGNUP FORM  */
.signup-form {
    width: 100%;
    max-width: 570px;
    padding: 55px 60px 40px;
    margin-left: 12px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
}
.signup-form-heading {
    margin-bottom: 65px;
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
}
.signup-form-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}
.signup-form-field {
    padding-top: 15px;
    padding-bottom: 14px;
    border: 0;
    border-bottom: 1px solid #555;
    color: #555;
}
.signup-form-field :focus{
    border-color:#000 ;
    color: #000;
    font-weight: 600;
}
.signup-form-field :not(:last-child){
    margin-bottom: 20px;
}

.signup-form-submit {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 8px;
    border: 0;
    border-radius:10px ;
    background-color: var(--purple);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.signup-form-notice {
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}
.signup-form-notice-link {
    color: var(--red);
    font-weight: 500;
}